<div class="page-header">
    <form (ngSubmit)="onSearch(search.value)" action="#">
        <mat-form-field class="search-field">
            <input #search="ngModel" name="search" ngModel  type="text" matInput placeholder="Search">
            <mat-icon  class="search" (click)="onSearch(search.value)"  matSuffix>search</mat-icon>    
        </mat-form-field>
    </form>
    <div class="action-container">
        <mat-icon class="act active" matSuffix>view_module</mat-icon>
        <mat-icon class="act" matSuffix>view_list</mat-icon>
    </div>
</div>

<div  *ngFor="let customer of customers"  
    class="box-large mat-elevation-z4"
    (mouseenter)="onCardEnter(customer.Id)" 
    (mouseleave)="onCardLeave()">
    <h3>{{customer.Name}}</h3>
    <h5>{{customer.Location}}</h5>
    <p>Id: {{customer.Id}}</p>
    <button *ngIf="cardHoveredId == customer.Id" (click) = "ordersListShow(customer.Id)" mat-stroked-button>Orders</button>
</div>

<mat-paginator [length]="pageEvent.length" 
                [pageSize]="pageEvent.pageSize" 
                [pageSizeOptions]="pageSizeOptions" 
                (page)="onPageEv($event)"
    class="paginator">
</mat-paginator>