.box-large{
    margin: 8px;
    padding: 16px;
    border-radius: 8px;
    height: 12em;
    max-height: 12em;
    width: 18%;
    min-width: 16em;
    background-color: white;
    float: left;
    overflow: auto;
}

.search-field{
    margin-left: 1em;
}

.search{
    cursor: pointer;
}

.page-header{
    form{
        display: inline-block;
    }
    .action-container{
        float: right;
        margin-right: 2em;
        margin-top: 1em;

        .act{
            cursor: pointer;
            margin: 5px;
            vertical-align: middle;
        }
        .act.active{
            background-color: lightblue;
        }
    }
}

.pageType-view_list{
    width: 100%;
}

table{
    width: 100%;
    .hovered{
        background: rgba(0, 0, 128, 0.2);
    }
}

.popup{
    min-width: '300px';
    width: '40%';
}