.box-large{
    margin: 8px;
    padding: 16px;
    border-radius: 8px;
    height: 12em;
    max-height: 12em;
    width: 18%;
    min-width: 16em;
    background-color: white;
    float: left;
    overflow: auto;
}

.search-field{
    margin-left: 1em;
}

.search{
    cursor: pointer;
}

.page-header{
    form{
        display: inline-block;
    }
    .action-container{
        float: right;
        margin-right: 2em;
        margin-top: 1em;

        .act{
            cursor: pointer;
            margin: 3px;
        }
        .act.active{
            background-color: lightblue;
        }
    }
}

